<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%= stylesheet_pack_tag 'application' %>
    </head>
    <body> 
        <div class="title">
            <div class="title-header">
                <img src="./konpeki-icon.png" class="konpeki-icon">
                <div>
                    <p class="join-us-border"><a href="https://konpeki.site/#/user/login" class="join-us">join us</a></p>
                </div>
            </div>
            <div class="title-center">
                    早稲田生による早稲田生のための早稲田生のSNS
            </div>

            

            </div>
        </div>
        <div class="search"></div>
        <div class="chat"></div>


    </body>  
</html>   